

<div class="container">
    <div class="row row-cols-sm-2 row-cols-md-2 row-cols-lg-2 ">
        <h3 class="display-4 lead mt-5 p-5" >Pie Chart Displaying Most Sold Items By Quantity</h3>
        <div class="col ">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col">
            <canvas id="myChartbottom6"></canvas>
        </div>
        <h3 class="display-4 lead mt-5 p-5">Pie Chart Displaying Least Sold Items By Quantity</h3>
       
        <div class="col mt-5 p-2">
             <h3 >Line Chart Displaying Costs of Most Sold Products</h3>
            <canvas id="lineChartTop"></canvas>

        </div>
        <div class="col mt-5 p-2">
            <h3 >Line Chart Displaying Costs of Least Sold Products</h3>
             <canvas id="lineChartBottom"></canvas>
             
        </div>
        
  

    </div>
         <div >
             <h3 class="display-6 lead text-center mt-5 p-5">Bar Chart Displaying Maximum Revenue Earned Based on the Product's Price and Quantity</h3>
            <canvas id="barChartTop"></canvas>
        </div>
        <div >
            <h3 class="display-6 lead text-center mt-5 p-5">Bar Chart Displaying Minimum Revenue Earned Based on the Product's Price and Quantity</h3>
            <canvas id="barChartBottom"></canvas>
        </div>
    <div id="divChart">

        <h3 class="display-6 lead text-center mt-5">Doughnut Chart Displaying Status Count of Orders</h3>
        <canvas class="mt-5" id="doughnutChart"></canvas>
    
    </div>
    <div class="m-5 p-3">
  <br><br><br><br><br><br><br><br><br>
  <h3 class="display-6 lead text-center m-5">Line Chart Displaying the Number of Users of the Products</h3>
    <canvas class="mt-5" id="lineChartUsers"></canvas>
    
    </div>
     
   
        
</div>

