<div class="container">

    <div>

            <img style="
                display: block;
margin-left: auto;
margin-right: auto;
                width: 100%;
              " src="https://img-cdn.inc.com/image/upload/w_1920,h_1080,c_fill/images/panoramic/GettyImages-1073935306_473507_vcqev4.jpg"
            alt="" width="100%">
   
    </div>

</div>

<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
</head>
<body>




<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">ABOUT THE COMPANY</h3>
  <p class="w3-center w3-large">Key features of our company</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-line-chart w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Data Visualization</p>
      
    </div>
    <div class="w3-quarter">
      <i class="fa fa-try w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Token Generation</p>
      
    </div>
    <div class="w3-quarter">
      <i class="fa fa-list-alt w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Recommendation</p>
     
    </div>
    <div class="w3-quarter">
      <i class="fa fa-spinner w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Status Tracking</p>
      
    </div>
  </div>
</div>

<!-- Contact Section -->
<div class="w3-container w3-light-grey" style="padding:128px px" id="contact">
    <br><br>
  <h3 class="w3-center display-5">CONTACT US!!!</h3>
  <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
  <div style="margin-top:48px">
    <p ><i class="fa fa-map-marker fa-fw w3-xxlarge   "></i> VnrVjiet Hyderabad</p>
    <p  ><i class="fa fa-phone fa-fw w3-xxlarge "></i> Phone: +91 9876543210</p>
    <p  ><i class="fa fa-envelope fa-fw w3-xxlarge "> </i> Email: azgostore@mail.com</p>
    <br>
</div>
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3804.342303692276!2d78.38410441441218!3d17.538882087987997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb8e0ab28e0975%3A0x7b048b2858fdee94!2sVallurupalli%20Nageswara%20Rao%20Vignana%20Jyothi%20Institute%20of%20Engineering%20%26Technology!5e0!3m2!1sen!2sin!4v1660726502149!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
  
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity p-1"></i>
    <i class="fa fa-instagram w3-hover-opacity p-1"></i>
    <i class="fa fa-snapchat w3-hover-opacity p-1"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity p-1"></i>
    <i class="fa fa-twitter w3-hover-opacity p-1"></i>
    <i class="fa fa-linkedin w3-hover-opacity p-1"></i>
  </div>
  <p>Designed By :  <a href="#" title="W3.CSS" style="text-decoration:None;" class="w3-hover-text-green">Team 4</a></p>
</footer>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>
</html>
