<p class="display-4 text-center text-dark">Signup here</p>
<form #ref="ngForm" (ngSubmit)="onSignup(ref.value)" class="w-75 mx-auto mt-5">
    <div class="form-floating mb-3">
        <input type="username" class="form-control" id="username" placeholder="name@example.com" name="username"
            ngModel>
        <label for="username">Username</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password" ngModel>
        <label for="password">Password</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" ngModel>
        <label for="email">Email </label>
    </div>
    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="dob" placeholder="Email" name="dob" ngModel>
        <label for="dob">Date of birth</label>
    </div>

        <label for="photo">Profile Image</label>
    <input type="file" name="photo"  class="form-control mb-3" ngModel  (change)="selectFile($event)" placeholder="Profile Image">

    <div class="text-center">
        <button class="btn btn-dark ps-3 pe-3" type="submit">Signup</button>
    </div>
</form>